*.o
dwm
dwm-msg
config.h
patches.h
/.idea
*.zst
src/
/patch.zip
/.cache/clangd/index/autostart.c.91A2612F778FC5C0.idx
/.cache/clangd/index/autostart.h.5C73EF2FE12E4366.idx
/.cache/clangd/index/bar_alpha.c.2AD4DF96D181DF53.idx
/.cache/clangd/index/bar_alpha.h.143624D05C0D1A3A.idx
/.cache/clangd/index/bar_alternativetags.c.7F394F319012A66D.idx
/.cache/clangd/index/bar_alternativetags.h.482A07F9F91BDA69.idx
/.cache/clangd/index/bar_indicators.c.9C83112D0B615E9E.idx
/.cache/clangd/index/bar_indicators.h.7DB324F9420285C6.idx
/.cache/clangd/index/bar_layoutmenu.c.F241BBA04604510C.idx
/.cache/clangd/index/bar_layoutmenu.h.7D99825D03124E3A.idx
/.cache/clangd/index/bar_ltsymbol.c.B09774C9FF5EA1C0.idx
/.cache/clangd/index/bar_ltsymbol.h.21BC47EED61F272D.idx
/.cache/clangd/index/bar_status.c.806BFF803404EEA9.idx
/.cache/clangd/index/bar_status.h.6469464DCF7A032A.idx
/.cache/clangd/index/bar_status2d.c.0504DFD7D02726F8.idx
/.cache/clangd/index/bar_status2d.h.BA4667098EE95331.idx
/.cache/clangd/index/bar_systray.c.5A183E42A429D539.idx
/.cache/clangd/index/bar_systray.h.63577DE1AC3FA89D.idx
/.cache/clangd/index/bar_tagicons.c.F4B967FC9261DCED.idx
/.cache/clangd/index/bar_tagicons.h.CD96BA16DB5631B7.idx
/.cache/clangd/index/bar_tags.c.7BC759A63D92B64E.idx
/.cache/clangd/index/bar_tags.h.7D191A2DD27E525D.idx
/.cache/clangd/index/config.h.A32C1FDBE0E6B5FB.idx
/.cache/clangd/index/cyclelayouts.c.95640037BD8C0E5D.idx
/.cache/clangd/index/cyclelayouts.h.EA6BF5F094BC1201.idx
/.cache/clangd/index/decorationhints.c.71186383F596FC5D.idx
/.cache/clangd/index/decorationhints.h.32A1167C6A8CA5A0.idx
/.cache/clangd/index/dragmfact.c.845909AAF216F0CB.idx
/.cache/clangd/index/dragmfact.h.50EC8217515D2C31.idx
/.cache/clangd/index/drw.c.1D1D91B289B7E8CD.idx
/.cache/clangd/index/drw.h.5C9C49382A0DA9A4.idx
/.cache/clangd/index/dwm.c.D17EF2DF18A616BD.idx
/.cache/clangd/index/fullscreen.c.42BFE2897A73A031.idx
/.cache/clangd/index/fullscreen.h.8E02FC98D5F5DC04.idx
/.cache/clangd/index/include.c.1689C7241D7AE3EF.idx
/.cache/clangd/index/include.h.2B8649996B44F89A.idx
/.cache/clangd/index/layout_bstack.c.7CEB54835E3ABDC8.idx
/.cache/clangd/index/layout_bstack.h.E4F6E7804D970F68.idx
/.cache/clangd/index/layout_bstackhoriz.c.CFB63AAB43B89945.idx
/.cache/clangd/index/layout_bstackhoriz.h.83F1472B87F54500.idx
/.cache/clangd/index/layout_centeredfloatingmaster.c.7510A6DF97533CC1.idx
/.cache/clangd/index/layout_centeredfloatingmaster.h.E81B321C36D24675.idx
/.cache/clangd/index/layout_centeredmaster.c.472E2D6062BA0803.idx
/.cache/clangd/index/layout_centeredmaster.h.0995DE15F1DA5DDD.idx
/.cache/clangd/index/layout_columns.c.D6917FEF7E82B524.idx
/.cache/clangd/index/layout_columns.h.25901C1B8F83A1E2.idx
/.cache/clangd/index/layout_deck.c.F3ED85E7546CED40.idx
/.cache/clangd/index/layout_deck.h.5E0938741CA2B1B3.idx
/.cache/clangd/index/layout_facts.c.5CBCAE6B9C24F905.idx
/.cache/clangd/index/layout_fibonacci.c.5C09E81ED5B17B7E.idx
/.cache/clangd/index/layout_fibonacci.h.7F1747C34AD7744B.idx
/.cache/clangd/index/layout_gapplessgrid.c.A394EF586EB52EAB.idx
/.cache/clangd/index/layout_gapplessgrid.h.42E9F766B75441BC.idx
/.cache/clangd/index/layout_grid.c.D8D1A32A8B576958.idx
/.cache/clangd/index/layout_grid.h.526DC3F7DB7C26A8.idx
/.cache/clangd/index/layout_horizgrid.c.1AF55824934BA457.idx
/.cache/clangd/index/layout_horizgrid.h.5B5A642ABABEDC5E.idx
/.cache/clangd/index/layout_monocle.c.35DCC07A931CC70A.idx
/.cache/clangd/index/layout_monocle.h.B5EA5B370C75FCB7.idx
/.cache/clangd/index/layout_nrowgrid.c.109346EC704E4856.idx
/.cache/clangd/index/layout_nrowgrid.h.FEF39A0DCE66C5E9.idx
/.cache/clangd/index/layout_tile.c.700B7B03B85DD093.idx
/.cache/clangd/index/layout_tile.h.34B40533521657E2.idx
/.cache/clangd/index/movestack.c.C302C5E2EB8AF321.idx
/.cache/clangd/index/movestack.h.C135C5CDECF0CEFB.idx
/.cache/clangd/index/onedark.h.3AD35E9928DF6CF6.idx
/.cache/clangd/index/patches.h.7DB251A927681428.idx
/.cache/clangd/index/pertag.c.CB99697296722EA4.idx
/.cache/clangd/index/pertag.h.E21BEF6A19041259.idx
/.cache/clangd/index/placemouse.c.975C0F963C2B378F.idx
/.cache/clangd/index/placemouse.h.E1B2BB44E6DC7937.idx
/.cache/clangd/index/restartsig.c.87F1BFC87091B5AF.idx
/.cache/clangd/index/restartsig.h.8353E5C007340CD3.idx
/.cache/clangd/index/selfrestart.c.F42B3881BAA95813.idx
/.cache/clangd/index/selfrestart.h.1CE47668D91F1C7F.idx
/.cache/clangd/index/shiftview.c.21DDD10E118DAE18.idx
/.cache/clangd/index/shiftview.h.A113113F671D5AD8.idx
/.cache/clangd/index/swapfocus.c.9B036A5CA212F18A.idx
/.cache/clangd/index/swapfocus.h.B5C5CCC6764ECEE6.idx
/.cache/clangd/index/tab.c.A90626797AA3BE22.idx
/.cache/clangd/index/tab.h.27A7B40A7DDB1FE3.idx
/.cache/clangd/index/togglefullscreen.c.821E36912B73B02C.idx
/.cache/clangd/index/togglefullscreen.h.3574BEB2404F8053.idx
/.cache/clangd/index/util.c.B5F25B51CCC69147.idx
/.cache/clangd/index/util.h.CB6AB1C94F0914F4.idx
/.cache/clangd/index/vanitygaps.c.B8D341EA9A715E11.idx
/.cache/clangd/index/vanitygaps.h.2F3DA326D40E4998.idx
/.cache/clangd/index/zoomswap.c.86DC83C613EBECE4.idx
/.cache/clangd/index/zoomswap.h.4DBAFDD3C6BCF0FF.idx
